* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
}

section.main {
    background-image: url('img/bkg.png');
    min-height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    vertical-align: middle;
}

.menu {
    padding: 15px;
    width: 50%;
    margin-top: 20px;
    display: inline-block;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 15px;
    transition: 0.4s;
}

.menu a:hover {
    color: #00466F;
}

.btn-menu {
    color: white;
    background-color: #00C4FF;
    margin-top: 15px;
    margin-right: 50px;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-menu:hover {
    color: white;
    background-color: #00466F;
}

.logo {
    width: 450px;
    margin: auto;
    margin-top: 150px;
}

.container {
    background-color: white;
    position:absolute;
    width: 1000px;
    height: 300px;
    border-radius: 7px;
    box-shadow: 0px 10px 15px #00000029;
    padding: 50px;
    text-align: center;
    margin: 45px;
}

.titulo {
    color: #383838;
    font-size: 18px;
}

.pesquisar {
    margin-top: 50px;
}

.pesquisar input {
    background-color: #fff;
    border-color: #707070;
    border-width: 1.3px;
    border-style: solid;
    border-radius: 4px 0px 0px 4px;
    width: 80%;
    height: 40px;
    color: #707070;
    font-size: 16px;
    padding: 0px 20px;
    display: flex;
    float: left;
}

.pesquisar a {
    color: white;
    background-color: #126DA2;
    width: 20%;
    height: 40px;
    border-radius: 0px 4px 4px 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.pesquisar a:hover {
    color: white;
    background-color: #00466F;
}

.material-icons {
    color: white;
    padding: 5px;
}

.txtSingUp {
    margin-top: 150px;
    color: #707070;
    display: block;
}

.txtSingUp .btn-singUp {
    color: #126DA2;
}

.section-header{
    margin-top: 250px;
    text-align: center;
}

.section-header h2{
    color: #126DA2;
}

.list-module{
    display: block;
    text-align: center;
    margin-top: 50px;
}

.list-module .box1{
    width: 300px;
    height: auto;
    margin: 15px;
    padding-bottom: 40px;
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 10px 15px #00000029;
    border-radius: 7px;
    display: inline-block;
    transition: .2s;
}

.list-module .box1 img{
    width: 300px;
    border-radius: 7pX 7px 0px 0px;
}

.list-module .box1 h3{
    color:#126DA2;
    margin: 20px;
}

.list-module .box1 p{
    color: #707070;
    margin: 20px;
    margin-bottom: 40px;
}

.list-module .box1 a{
    color: white;
    background-color: #00C4FF;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px;
}

.list-module .box1 a:hover{
    color: white;
    background-color: #00466F;
}

.list-module .box2{
    width: 300px;
    height: auto;
    margin: 15px;
    padding-bottom: 40px;
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 10px 15px #00000029;
    border-radius: 7px;
    display: inline-block;
    transition: .2s;
}

.list-module .box2 img{
    width: 300px;
    border-radius: 7pX 7px 0px 0px;
}

.list-module .box2 h3{
    color:#126DA2;
    margin: 20px;
}

.list-module .box2 p{
    color: #707070;
    margin: 20px;
    margin-bottom: 40px;
}

.list-module .box2 a{
    color: white;
    background-color: #00C4FF;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px;
}

.list-module .box2 a:hover{
    color: white;
    background-color: #00466F;
}

.list-module .box3{
    width: 300px;
    height: auto;
    margin: 15px;
    padding-bottom: 40px;
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 10px 15px #00000029;
    border-radius: 7px;
    display: inline-block;
    transition: .2s;
}

.list-module .box3 img{
    width: 300px;
    border-radius: 7pX 7px 0px 0px;
}

.list-module .box3 h3{
    color:#126DA2;
    margin: 20px;
}

.list-module .box3 p{
    color: #707070;
    margin: 20px;
    margin-bottom: 40px;
}

.list-module .box3 a{
    color: white;
    background-color: #00C4FF;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px;
}

.list-module .box3 a:hover{
    color: white;
    background-color: #00466F;
}

.box1:hover{
    transform: scale(1.03);
}

.box2:hover{
    transform: scale(1.03);
}

.box3:hover{
    transform: scale(1.03);
}

section .banner {
    padding: 50px;
    margin: 50px;

}

.banner1{
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
}

.banner1 .col-1{
    width: 50%;
    display: flex;
    margin: auto;
    text-align: right;
}

.banner1 .col-1 img{
    width: 100%;
    margin-left: 50px;
}

.banner1 .col-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    float: right;
    margin: auto;
}


.banner1 .col-2 h2{
    float: left;
}

.banner1 .col-2 p{
    float: left;
}

